/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

/* Fondo de la página de carrito */
#carrito {
    background-image: url(img/fondo-blanco.png); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 50vh; /* Hace que el fondo cubra toda la altura de la ventana */
}

/* Header */
header {
    background-color: #ff4d4d; /* Rojo navideño */
    color: white;
    padding: 20px 0;
    text-align: center;
    border-bottom: 5px solid #ffcc00; /* Toque de dorado */
}

/* Productos */
.producto {
    border: 2px solid #ffcc00; /* Dorado */
    background-color: #fff;
    transition: transform 0.2s, background-color 0.3s;
    padding: 15px;
    margin: 10px;
    text-align: center;
    border-radius: 8px;
}

.producto:hover {
    transform: scale(1.05);
    background-color: #ffe6e6; /* Rosa claro para efecto navideño */
}

/* Botones */
.btn-primary {
    background-color: #ff4d4d; /* Rojo */
    border-color: #ffcc00; /* Dorado */
}

.btn-primary:hover {
    background-color: #ffcc00; /* Cambia a dorado */
    color: #ff4d4d; /* Texto rojo */
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f1f1f1;
    border-top: 5px solid #ffcc00; /* Línea dorada */
    color: #333;
}

/* Grid de productos */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

/* Carrusel */
.carousel-inner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* Estilos del modal */
.modal-content {
    background-color: #ff4d4d;
    color: white;
}

/* Media Queries */
@media (max-width: 768px) {
    body {
        background-size: auto;
    }
}





